- css_classes = local_assigns.fetch(:css_classes, '')
- search_id = local_assigns.fetch(:search_id, 'group-filter-form')
- target_input = local_assigns.fetch(:target_input, '')
- target_section = local_assigns.fetch(:target_section, '')
- target_path = local_assigns.fetch(:target_path, '')

= form_tag request.path, method: :get, class: "group-filter-form #{css_classes}", id: search_id do |f|
  = search_field_tag :filter, params[:filter], placeholder: s_('GroupsTree|Filter by name...'), class: 'group-filter-form-field form-control js-groups-list-filter', spellcheck: false, id: 'group-filter-form-field', tabindex: "2", data: { target_section: target_section, target_input: target_input, target_path: target_path }
