.form-group
  .form-check
    = f.check_box :require_two_factor_authentication, class: 'form-check-input'
    = f.label :require_two_factor_authentication, class: 'form-check-label' do
      %span
        Require all users in this group to setup Two-factor authentication
        = link_to icon('question-circle'), help_page_path('security/two_factor_authentication', anchor: 'enforcing-2fa-for-all-users-in-a-group')
.form-group
  .form-check
    = f.text_field :two_factor_grace_period, class: 'form-control'
    .form-text.text-muted Amount of time (in hours) that users are allowed to skip forced configuration of two-factor authentication
